* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 0, 0, 0.054);
}
.rooms {
  background-color: rgba(51, 51, 51, 0.496);
  display: grid;
  grid-template: repeat();
  gap: 1.5rem;
  flex-direction: column;

  .roomsItem {
    background-color: rgb(25, 24, 24);
    padding: 1.5rem;
    color: aliceblue;
  }
  .firstLastName {
    color: goldenrod;
    list-style-type: none;
    font-weight: 900;
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2rem;
    color: bisque;
  }
}
