* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(69, 64, 64);
}
h1 {
  text-align: center;
  font-size: 3rem;
  color: chocolate;
}
.rooms {
  background-color: rgba(51, 51, 51, 0.496);
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1.5rem;

  .roomsItem {
    text-align: center;
    background-color: rgb(25, 24, 24);
    padding: 1.5rem;
    color: aliceblue;
    opacity: 85%;
  }
  .roomsItem:hover {
    opacity: 100%;
  }

  .firstLastName {
    color: goldenrod;
    list-style-type: none;
    font-weight: 900;
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2rem;
    color: bisque;
    margin: 2rem;
  }
  .yes,
  .no {
    padding: 0.4rem 1.5rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    border: none;
    margin: 1rem auto;
    background-color: rgba(37, 165, 37, 0.414);
    font-weight: 900;
    color: black;
    width: max-content;
    letter-spacing: 0.2rem;
  }
  button:hover {
    cursor: pointer;
  }
  .no {
    background-color: red;
    box-shadow: 0px 0px 10px rgba(224, 140, 140, 0.652);
  }
  .yes {
    box-shadow: 0 0 10px rgba(165, 212, 165, 0.823);
    color: aliceblue;
  }
  p {
    letter-spacing: 0.6rem;
  }
}
